# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependency directories (если используешь vendor)
vendor/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db